@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700;800&display=swap');
:root{
  --color-primary: #EB3E32;
  --color-secendory:#2a2a2a;
  --font-primary: 'Raleway', sans-serif;
}
html{
  font-size: 62.5%;
}
body {
  font-family: var(--font-primary)  !important;
  z-index: 2 !important;
}
body a{
  color: inherit;
}
body a:hover{
  text-decoration: none;
  color: var(--color-primary);
}
h1{
  font-weight: 800 !important;
}
h2{
  font-weight: 700 !important;
}
p{
  font-size: 1.4rem;
}
h3{
  font-weight: 600 !important;
}
h4{
  font-weight: 600 !important;
}
.tooltip{
  font-size: 1.4rem !important;
  font-weight: 600 !important;
  
}
.tooltip-inner{
  background: var(--color-primary) !important;
} 
.tooltip .arrow{
  display:none !important;
}
input{
  font-size: 1.4rem !important;
  font-family: var(--font-primary) !important;
  transition: all 300ms ease;
}
button{
  font-size: 1.4rem !important;
  transition: all 300ms ease !important ;
}
button.btn-primary{
  background-color: var(--color-primary) !important;
  border-color: var(--color-primary) !important;
  
}
button.btn-secendory{
  background-color: var(--color-secendory) !important;
  border-color: var(--color-secendory) !important;
  color: white !important;
}
button.btn-secendory:hover{
  background-color: var(--color-primary) !important;
  border-color: var(--color-primary) !important;
}
button.btn-primary:hover{
  background: #821d16 !important;
  border-color: #821d16 !important;
}
button:focus{
  box-shadow: none !important;
}
button.btn-primary:active{
  background:var(--color-primary) !important;
}
.breadcrumb-item{
  font-weight: 600;
}
.required{
  font-size: 2rem;
}
.px-100{
  padding-left: 100px;
  padding-right: 100px;

}
.py-100{
  padding-top: 100px;
  padding-bottom: 100px;
}
select,.react-dropdown-select{
  font-size: 1.4rem !important;
  cursor: pointer;
}
.plantmore-product-remove:hover{
  cursor: pointer;
  color: var(--color-primary);
}
.checkout-review-order{
  position: sticky;
  top: 5rem;
}
textarea{
  transition: all 300ms ease;
}
input:focus,textarea:focus,select:focus{
  border-color: var(--color-primary) !important;
}
table th,table td{
  font-size: 1.4rem !important;
}